* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Joan', serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    z-index: 999;

}

nav img {
    width: 130px;
    cursor: pointer;
    margin: 6px 0px 0px -66px;
    /* padding: 10px; */
}


nav .navigation ul {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin-left:164px;
 
}

nav .navigation ul li {
    list-style: none;
    margin-left:80px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(53, 53, 129);
    font-size: 20px;
    font-weight: 500px;
    transition: 0.3s ease;
}

nav .navigation ul li a.active,

nav .navigation ul li a:hover {
    color: rgb(116, 173, 202);

}

/* cards */

#features {
    padding: 10vw 8vw 0 8vw;
    text-align: center;
}

#features h1{
    font-size: 35px;
    color: rgb(53, 53, 129);
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    height:30%;
    grid-gap: 1rem;
    margin: 50px;
}


#features .fea-box {
    background-color: rgba(197, 221, 235, 1);
    text-align: center;
    background-size: 50px;
    box-shadow: 13px 13px rgb(149, 187, 210);
}

#features .fea-box h3 {
    font-size:1.5rem;
    font-weight: 600;
    color: black;
    padding: 13px 0 7px 0;
}

#features .fea-box h2{
    margin-top:25px;
    font-size: 4rem;
    font-style: italic;
    color: rgb(53, 53, 129);
}


/* table */

.label{
    text-align: center;
    background-color:rgb(19, 18, 18);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    color:whitesmoke;
    font-weight: bold;
    font-size:30px;
}

.table thead tr th{
    padding-left:130px;
    padding-top:20px;
    font-size:20px;

}
.table tbody tr td{
    padding-left:160px;
    padding-top:20px;
}